<ng-container *ngIf="!clfResult">
  <div *ngIf="serverError"
       class="alert alert-danger"
       role="alert"
       (click)="closeAlert()"
  >
    Что-то пошло не так
  </div>
  <div class="container">
    <div
      *ngIf="showForm"
      class="about-back-container"
    >
      <svg class="about-back-container-icon"
           viewBox="0 0 32 32"
           xmlns="http://www.w3.org/2000/svg"
           width="32"
           height="32"
           fill="black"
           (click)="showForm = false"
      >
        <path  d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
      </svg>
      <span>Назад</span>
    </div>
    <div *ngIf="!showForm" class="buttons">
      <button class="btn btn-lg btn-outline-secondary" (click)="fileOption = false; showForm = true">Ввести текст</button>
      или
      <button class="btn btn-lg btn-outline-secondary" (click)="fileOption = true; showForm = true">Выбрать файл</button>
    </div>
    <form *ngIf="showForm" [formGroup]="itemForm" novalidate class="item-form" (ngSubmit)="submit()">
      <div class="clf-header">Классификаторы: </div>
      <div
        class="form-floating mb-3"
        formGroupName="clfListForm"
      >
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox" value=""
            id="sklearn_bayes"
            formControlName="sklearn_bayes"
            (change)="clfCheck($event.target, 'sklearn_bayes')"
          >
          <label class="form-check-label" for="sklearn_bayes">
            Наивный байесовский классификатор
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="my_bayes"
            formControlName="my_bayes"
            (change)="clfCheck($event.target, 'my_bayes')"
          >
          <label class="form-check-label" for="my_bayes">
            Наивный байесовский классификатор (нативный)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="sklearn_knn"
            formControlName="sklearn_knn"
            (change)="clfCheck($event.target, 'sklearn_knn')"
          >
          <label class="form-check-label" for="sklearn_knn">
            Метод ближайших соседей
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="my_knn"
            formControlName="my_knn"
            (change)="clfCheck($event.target, 'my_knn')"
          >
          <label class="form-check-label" for="my_knn">
            Метод ближайших соседей (нативный)
          </label>
        </div>
      </div>
      <div *ngIf="fileOption" class="form-floating mb-3">
        <input
          type="file"
          name="textfile"
          placeholder="Файл"
          formControlName="textfile"
          id="textfile"
          accept=".txt"
          (change)="handleFileInput($event.target.files)"
        />
      </div>
      <div *ngIf="!fileOption" class="form-floating mb-3">
          <textarea
            name="text"
            placeholder="Текст..."
            id="text"
            class="form-control"
            formControlName="text"
          >
          </textarea>
        <label for="text">Текст</label>
      </div>
      <div class="col-12">
        <ng-container *ngIf="!loading">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="itemForm.invalid || !atLeastOneClfChecked"
          >
            Классифицировать
          </button>
        </ng-container>
        <ng-container *ngIf="loading">
          <button
            class="btn btn-primary"
            type="button"
            disabled
          >
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Обработка...
          </button>
        </ng-container>
      </div>
    </form>
    <ng-container *ngIf="showForm">
      <h5>Список доступных коллекций категорий: </h5>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Новости
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <span><b>Категории:</b></span>
            <li>Бывший СССР</li>
            <li>Дом</li>
            <li>Из жизни</li>
            <li>Интернет и СМИ</li>
            <li>Культура</li>
            <li>Мир</li>
            <li>Наука и техника</li>
            <li>Путешествия</li>
            <li>Россия</li>
            <li>Силовые структуры</li>
            <li>Спорт</li>
            <li>Ценности</li>
            <li>Экономика</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>

</ng-container>

<ng-container *ngIf="clfResult">
  <div class="about-back-container">
    <svg class="about-back-container-icon"
         viewBox="0 0 32 32"
         xmlns="http://www.w3.org/2000/svg"
         width="32"
         height="32"
         fill="black"
         (click)="backFromResultPage()"
    >
      <path  d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
    </svg>
    <span>Назад</span>
  </div>
  <div class="result-container">
    <h2>Результат</h2>
    <clf-result
      [result]="clfResult"
    >
    </clf-result>
  </div>
</ng-container>


