@import "../font";

textarea {
  height: 30vh !important;
  max-width: 80vw;
}

form {
  margin: 20px 0;
}

.alert {
  margin: 10px 5%;
}

.clf-header {
  margin-bottom: 10px;
}


table {
  width: 70%;
  margin: 0 auto;
}

.result-container {
  display: flex;
  flex-direction: column;
}

h2 {
  display: inline-block;
  margin: 2rem auto !important;
}

.clickable-cell, svg {
  cursor: pointer;
}

.navbar {
  padding: 0.5rem 2rem;
}

.about-back-container {
  margin: 15px 0;
  &-icon {
    margin-right: 15px;
  }
}

.about-back-content {

}

ul {
  list-style: none;
}

.additional-statistics-popup {
  position: absolute;
  background-color: whitesmoke;
  padding: 20px;
}

.confidence-cell {
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .font-light();
  justify-content: space-evenly;
  margin: 30px;
}

.btn-lg {
  &:hover {
    background: #f6f6f6;
    border: 1px solid #f6f5f5;
    color: #6c757d;
  }
  width: 30%;
  padding: 2rem 4rem;
  margin: 1rem 0;
  border: 1px solid #f6f5f5;
  transition: background 0.7s;
}

.logo {
  .font-bold();
  font-size: 48px;
  padding-top: 10px;
}

.classification-header {
  text-align: center;
}

.about {
  &:hover {
    cursor: pointer;
  }
  .font-light();
  display: inline-block;
  border-bottom:1px solid #d7d4d4;
  padding-bottom:2px;
  margin: 0 10px;
}

p {
  margin: 20px 10%;
}

.mainPic {
  content:url("./pics/главная.png");
}

.historyPic {
  content:url("./pics/история.png");
}

.catsPic {
  content:url("./pics/категории.png");
}

.textPic {
  content:url("./pics/текст.png");
}

.textFilledPic {
  content:url("./pics/текст запол.png");
}

.textResultPic {
  content:url("./pics/текст результат.png");
}

.filePic {
  content:url("./pics/файл.png");
}

img {
  border: 1px solid #c6c4c4;
  display: block;
}
